{% extends 'base.html.twig' %}

{% block title %}Pokemons index{% endblock %}

{% block body %}
    <h1>Pokemons index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Sexo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemons %}
            <tr>
                <td>{{ pokemon.id }}</td>
                <td>{{ pokemon.nombre }}</td>
                <td>{{ pokemon.altura }}</td>
                <td>{{ pokemon.peso }}</td>
                <td>{{ pokemon.sexo ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-info btn-outline-light" href="{{ path('app_pokemons_show', {'id': pokemon.id}) }}">show</a>
                    <a class="btn btn-success btn-outline-light" href="{{ path('app_pokemons_edit', {'id': pokemon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-warning btn-outline-light" href="{{ path('app_pokemons_new') }}">Create new</a>
{% endblock %}
