{% extends 'base.html.twig' %}

{% block title %}Pokemons{% endblock %}

{% block body %}
    <h1>Pokemons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pokemon.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ pokemon.nombre }}</td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ pokemon.altura }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ pokemon.peso }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ pokemon.sexo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-outline-light" href="{{ path('app_pokemons_index') }}">back to list</a>

    <a class="btn btn-success btn-outline-light" href="{{ path('app_pokemons_edit', {'id': pokemon.id}) }}">edit</a>

    {{ include('pokemons/_delete_form.html.twig') }}
{% endblock %}
